.page {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: $mobile-width;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  font-family: $font-roboto;
  color: $color-white;
  overflow-wrap: break-word;

  background-color: $color-brown-500;
}

.page__title {
  margin: 0;
  padding: 0;
  text-align: center;

  font-family: $font-yeseva-one;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
}

.page__header {
  flex-shrink: 0;
}

.page__main {
  flex-grow: 1;
}

.page__footer {
  flex-shrink: 0;
  margin-top: auto;
}
