// Roboto Light

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Roboto Light"), local("Roboto-Light"),
    url("#{$fonts}/Roboto-Light.woff2") format("woff2");
}

// Roboto Regular

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), local("Roboto Regular"), local("Roboto-Regular"),
    url("#{$fonts}/Roboto-Regular.woff2") format("woff2");
}

// Roboto Medium

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("#{$fonts}/Roboto-Medium.woff2") format("woff2");
}

// Roboto Bold

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("#{$fonts}/Roboto-Bold.woff2") format("woff2");
}

// Yeseva One Regular

@font-face {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Yeseva One"), local("Yeseva One Regular"),
    local("Yeseva-One-Regular"),
    url("#{$fonts}/YesevaOne-Regular.woff2") format("woff2");
}
