.footer {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;

  background-color: $color-brown-700;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: $desktop-width;
  padding-left: $mobile-padding;
  padding-right: $mobile-padding;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    column-gap: 30px;
    padding-left: $tablet-padding;
    padding-right: $tablet-padding;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 2.5fr;
    padding-left: $desktop-padding;
    padding-right: $desktop-padding;
  }
}

.footer__contacts {
  margin: 0;
  padding: 0;
  text-align: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $color-brown-25;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    column-gap: 30px;
  }
}

.footer__address {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;

  font-style: normal;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.footer__phone-wrapper {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;
  }
}

.footer__phone {
  font-style: normal;
  color: $color-brown-20;
  text-decoration: none;

  &:hover {
    color: rgba($color-brown-20, 0.7);
  }

  &:active {
    color: rgba($color-brown-20, 0.5);
  }

  @media (min-width: $tablet-width) {
    text-align: right;

    font-weight: 700;
  }
}

.footer__socials {
  width: 103px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    order: -1;
    width: auto;
    margin-bottom: 0;
  }
}

.footer__logo {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    order: -2;
    display: block;
  }
}
