.header {
  display: flex;
  justify-content: center;

  background-color: $color-brown-600;
}

.header__inner {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: $desktop-width;
  padding-left: $mobile-padding;
  padding-right: $mobile-padding;
  padding-top: 27px;
  padding-bottom: 27px;

  @media (min-width: $tablet-width) {
    padding-left: $tablet-padding;
    padding-right: $tablet-padding;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 47px;
    padding-bottom: 47px;
  }
}
