.promo {
  --background-cat-width: 275px;
  --background-cat-height: 256px;

  position: relative;

  display: flex;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 276px;

  background-color: $color-brown-600;

  &::before {
    content: "";

    position: absolute;
    right: 0;
    bottom: 0;

    width: var(--background-cat-width);
    height: var(--background-cat-height);

    background-image: url("../img/promo/cat.png");
    background-size: var(--background-cat-width) var(--background-cat-height);
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    padding-top: 57px;
    padding-bottom: 40px;

    &::before {
      --background-cat-width: 651px;
      --background-cat-height: 534px;

      background-image: url("../img/promo/cat-tablet.png");
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px;
    padding-bottom: 120px;

    &::before {
      --background-cat-width: 1068px;
      --background-cat-height: 684px;

      right: calc(50% - var(--background-cat-width) + 336px);

      background-image: linear-gradient(
          90deg,
          transparent 70%,
          $color-brown-600
        ),
        url("../img/promo/cat-desktop.png");
    }
  }
}

.promo__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: $desktop-width;
  padding-left: $mobile-padding;
  padding-right: $mobile-padding;

  @media (min-width: $tablet-width) {
    position: relative;

    align-items: start;
    padding-left: $tablet-padding;
    padding-right: $tablet-padding;
  }

  @media (min-width: $desktop-width) {
    max-width: 1046px;
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  text-align: center;

  font-family: $font-yeseva-one;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
    padding-right: 340px;
    text-align: left;

    font-size: 52px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    max-width: 400px;
    margin-bottom: 17px;
    padding-right: 0;
  }
}

.promo__location {
  order: -1;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  text-align: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $color-brown-100;

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
    padding-right: 340px;
    text-align: left;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: 400px;
    padding-right: 0;
  }
}

.promo__tagline {
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  text-align: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $color-brown-100;

  @media (min-width: $tablet-width) {
    max-width: 300px;
    margin-bottom: 49px;
    text-align: left;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: 880px) {
    max-width: none;
    padding-right: 340px;
  }

  @media (min-width: $desktop-width) {
    max-width: 310px;
    margin-bottom: 47px;
    padding-right: 0;
  }
}

.promo__show-pets {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }
}

.promo__socials {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 103px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: -85px;
    bottom: -80px;

    display: flex;
    width: 25px;
    min-height: 103px;
  }
}
